<div class="container__gradient"></div>
<h2 class="container__header">библиотека котиков</h2>
<nav class="nav">
  <input
    type="radio"
    class="nav__input nav__input_appearance"
    value="card"
    name="nav"
    id="nav__card"
  />
  <label for="nav__card" [routerLinkActive]="'card_active'">
    <a class="nav__link" [routerLink]="['/card']"> Карточка </a>
  </label>

  <input
    type="radio"
    class="nav__input nav__input_appearance"
    value="tile"
    name="nav"
    id="nav__tile"
  />

  <label for="nav__tile" [routerLinkActive]="'card_active'">
    <a class="nav__link" [routerLink]="['/tile']">Плитка</a>
  </label>

  <a class="nav__btn-add nav__link" [routerLink]="['/create']"> Добавить </a>
</nav>

<div class="container container__component">
  <router-outlet></router-outlet>
</div>
