.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}

.container__gradient{
    display: block;
    width: 100vw;
    height: 15px;
    background: linear-gradient( to right,
    #33cc99,#40ceb1,#55b9c1,#68a6cf,#7a93dc,
    #907eed,#a36afb);
}


.container__header{
    width: 100vw;
    text-align: center;
    background: #686868;
    color:#ffffff;
    margin: 0;
    padding: 2% 0;
    text-transform: uppercase;
}
.nav__link{
text-decoration: none;
color: #696969;
}
.nav__link:visited{
  color:inherit
}
.nav__link:active{
  color:inherit
}



.nav__input_appearance{
    appearance: none;
    -webkit-appearance: none;
    opacity: 0;
}
.nav__btn-add{
  padding: 3px 7px 4.5px;
  background: #68a6cf;
  border-radius: 8px;
  color: #ffffff;
  margin: 5px 0 0 10px;
  cursor: pointer;
}
.card_active{
    box-shadow: 0 2px  #68a6cf;
}

.tile_active{
    box-shadow: 0 2px  #68a6cf;
}
input{
    border: 1px solid black;
}

textarea{
    resize: none;
    outline: 0!important;
}

.input_active{
    border:greenyellow 1px solid;
}
input:focus{
    border: 1px solid inherit;
    outline: 0!important;
}


textarea:focus{
    border: 1px solid inherit;
}

.form_block-mr{
    margin-top: 10px;
}

